page-list-one {


ion-header {
  .toolbar {
    position: absolute;
	border: none;
    .toolbar-background {
      background: transparent;
      background-color: #434343;
    }
    .toolbar-title {
      color: black;
    }

  }
}
.cut-green{
	color:green;
}
.home{
	background-color: #434343;
	height: 12em;
	color:white ;
}
}
